@model BackEnd.Models.Egx30

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Egx30</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EgxId" />
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorsaDate" class="control-label"></label>
                <input asp-for="BorsaDate" class="form-control" />
                <span asp-validation-for="BorsaDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndexValue" class="control-label"></label>
                <input asp-for="IndexValue" class="form-control" />
                <span asp-validation-for="IndexValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
