<nav class="navbar">
  <div class="logo text-white">CapitalConnect</div>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-icon ms-auto">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ul class="nav-links">
    @if (!hideButton()) {
      <li class="pt-2"><a routerLink="home">Home</a></li>
    }
    @if (!hideButton()) {
      <li class="pt-2"><a routerLink="chat">ChatBot</a></li>
    }
    @if (!hideButton()) {
      <li class="pt-2"><a routerLink="stocks">Stocks</a></li>
    }
   
    @if (!hideButton()) {
      <li class="pt-2"><a routerLink="charge">Charge</a></li>
    }
    @if (!hideButton()) {
      <li><button class="btn btn-danger" (click)="logout()">Logout</button></li>
    }
  </ul>
</nav>
