
section {
  background-image: url("/assets/b718ceb78fc1a3425e961703d6c443a8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 10px rgba(94, 254, 182, 2);
}

.login-box {
  width: 300px;
  text-align: center;
  padding: 40px 20px;
  background: #fff;
  border-radius: 10px;
}

.login-box h3 {
  color: #0d456a;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  display: block;
  text-align: left;
  color: #0d456a;
  margin-bottom: 0.25rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #5efeb6;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none; 
  border-color: #5efeb6; 
  box-shadow: 0 0 10px 0 rgba(94, 254, 182, 2); 

}

button {
  background-color: #0d456a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #338cc8;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
  }
}
