.background{
    background-image: url("/assets/b718ceb78fc1a3425e961703d6c443a8.jpg");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.register-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 10px rgba(94, 254, 182, 2);
    width: 350px;
    text-align: center;
}
.register-form h2{
    color: #0d456a;
    font-size: 2rem;
    font-weight: bold;
}
.form-group{
    padding: 10px 0;
}
label{
    display: block;
    text-align: left;
    color: #0d456a;
}
input{
    width: 100%;
    padding: 5px;
    border: 1px solid #5efeb6;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none; 
    border-color: #5efeb6; 
    box-shadow: 0 0 10px 0 rgba(94, 254, 182, 2); 
}
.btn{
    background-color:#0d456a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: #338cc8;
}
@media (max-width: 450px) {
    .register-form {
        width: 150px;
        padding: 30px 15px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
    }
}
@media (max-width: 1024px) {
    .register-form {
        padding: 40px 30px;
        width: 85%;
        max-width: 500px;
    }
}


